*{
    padding: 0;
    margin: 0;
  }

.bloco{
    color: white;
    padding: 10px;
    margin: 10px;
}

#bloco-1{
    background-color: orange;
    width: 260px;
    border: 5px solid rgb(241, 195, 108);
}

#bloco-2{
    background-color: rgb(39, 141, 39);
    width: 260px;
    border: 5px solid greenyellow;
}

#bloco-3{
    background-color: rgb(3, 41, 3);
    width: 260px;
    border: 5px dashed greenyellow;
}

#bloco-4{
    background-color: red;
    width: 260px;
    border: 5px dashed rgb(241, 88, 88);
}

main{
    font-family: Helvetica;
}
